:root{
    --white: #FBFBFB;
    --black-primary: #101010;
    --black-secondary: #434343;
    --rojo-secundary: #ff0000;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;   /* 1rem = 10px */
}
*,*::before, *::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body{
    font-size: 1.6rem;  /* 16px */
    background-color: var(--black-primary);
    line-height: 2;
}


/***** HEADER *****/
.header{
    width: 100%;
    height: 5.2rem;
    font-family: 'Cinzel Decorative', cursive;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: absolute;
    z-index: 1;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-primary);
    border-radius: 0 0 1rem 1rem;
}
.nav > .navBtn{
    position: relative;
}
.nav .navBtn a{
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.nav .navBtn:hover{
    background-color: var(--black-secondary);
}
.nav .navBtn:hover:first-child{
    border-radius: 0 0 0 1rem;
}
.nav .navBtn:hover:last-child{
    border-radius: 0 0 1rem 0;
}
/** Nav dropdown list **/
.nav .navBtn ul{
    display: none;
    position: absolute;
    width: max-content;
    background-color: var(--black-primary);
}
.nav > .navBtn:hover > ul{
    display: block;
}
.nav > .navBtn li:hover{
    background-color: var(--black-secondary);
} 
/** End Nav dropdown list **/
.navBtn a {
    color: var(--white);
}
ul, ol{
    list-style: none;
}

.logo{
    color: var(--white);
    font-family: 'Cinzel Decorative', cursive;
    position: absolute;
    right: 0;
    padding: 0 5rem;
}
/** Burguer menu **/
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    padding: 0 5rem;
}
#menu-toggle {
    display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--white);
  position: absolute;
  height: .4rem;
  width: 3rem;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: .2rem;
}
.menu-button::before {
  content: '';
  margin-top: -.7rem;
}
.menu-button::after {
  content: '';
  margin-top: .8rem;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0;
    transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0;
  transform: rotate(-405deg);
}
/** End Burguer menu **/

@media screen and (max-width: 768px) {
    .header{
        height: 5.8.rem;
    }
    /** Hamburguer menu **/
    .menu-button-container {
        display: flex;
        z-index: 10;
    }
    #menu-toggle:checked ~ .nav {
      transform: translateX(0);
      transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    /** End Hamburguer menu **/
    .nav{
        flex-direction: column;
        align-items: start;
        justify-content: start;
        border-radius: 0;
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        padding: 5rem 0;
        transform: translateX(-40rem);
        transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .nav > .navBtn{
        width: 100%;
    }
    .nav .navBtn:hover:first-child{
        border-radius: 0;
    }
    .nav .navBtn:hover:last-child{
        border-radius: 0;
    }
    .nav .navBtn a{
        padding: 1rem 3.5rem;
    }
    /** Nav dropdown list **/
    .nav .navBtn ul{
        display: none;
        position: static;
        width: 100%;
    }
    .nav > .navBtn:hover > ul{
        display: block;
    }
    .nav > .navBtn li{
        padding: 1rem 3rem;
    }
    /** End Nav dropdown list **/
}

@media screen and (max-width: 576px) {
    .logo{
        padding: 0 3rem;
    }
    .menu-button-container {
        padding: 0 3rem;
    }
    .nav .navBtn a{
        padding: 1rem 2rem;
    }
    .nav > .navBtn li{
        padding: 1rem 2rem;
    }
}


/***** SECCION .PARTE1 *****/
.parte1{
    background: url('../img/desktop.jpg') center center no-repeat fixed;
    background-size: cover;
    opacity: .5;
    width: 100%;
    height: 100vh;
    text-align: center;
}





.banner{
    width: 84em;
    height: 51em;
    margin: 0 auto;
    text-align: center;
}



/***************************Seccion 2************************************************************/
.parte2{
    width: 137.vh;
    height: 50vh;
    
}
.nosotros{
    
    width: auto;
    height: 100%;
    margin: 0 auto;
    
    justify-content: center;

}

.nom
{
display: flex;  
justify-content: space-evenly;
align-items: center;
height: 50%;
width: 100%;


}


.imgnos img {
   width: 100%;
   height: 100%;
   border-radius: 15px;
}







.imgnos{
position: relative;
z-index: 5;

}


.tarjeta  {
    width: 100%;
    height: 50%;
    background-color:transparent;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    display: none;
    z-index: 6;
    opacity: 0;
    transition: all 2s;
      
}


.tarjeta p {
    color: var(--white);
    
}


.inforedes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


    .imgnos:hover > .tarjeta{
        display: flex;
        opacity: 1;
    }
    


/***********************************servicios************************************/
.seccion-servicios{
    width: 100%;
    height: 100vh;
    background-color: var(--white);
}
.servicios{
    width: 100%;
    height: 100%;
    background-color: var(--white);

}

/***********************************redes sociales************************************/
.icono{
    height:5% ;
    width: 5%;
}



/*************************************Laptops********************************************/
@media  screen   
and (min-device-width : 768px)   
and (max-device-width : 1366px) {
    .nom {
      
height: 84%;    
}
.imgnos:hover > .infonombre{
    width:20.4%;
}
.imgnos:hover > .inforedes{
    width:20.4%;
}
.imgh:hover > .infonombre{
width:20.4%;
}
.imgh:hover > .inforedes{
width:20.4%;
}
}

/* https://www.flaticon.es/icono-gratis/torre-de-pc_4275122?term=pc&related_id=4275122 

https://wallpapercave.com/anime-programmer-wallpapers
https://es.stackoverflow.com/questions/51476/como-alinear-im%C3%A1genes-html-con-css-en-varias-filas-y-colocando-en-cada-una-de
*/